<% include header %>
<div style = "text-align: center; background-color : yellow; margin-top: -20px; margin-bottom: -5px"> 
<h1> placement portal</h1>    
<h2>  University school of information technology</h2>
</div>
<marquee style = "color :red;background-color: yellow; margin-top: -10px"> Highest packeage till now is given by Adobe : 10 lpa </marquee>
<div class = "row well">
    <div class = "col-md-4"> 
    <div style = "text-align: center"><strong>placement record</strong></div>
    
    <marquee direction="up" style = "text-align: center; height : 80px; color: blue" id = "placeRecord" onmouseover="this.stop();" onmouseout="this.start();"> 
        <li class= "pull-left"><a href = "#">placement 2016</a></li>
        <li><a href = "#">placement 2015</a></li>
        <li class = "pull-left"><a href = "#">placement 2014</a></li>
        <li><a href = "#">placement 2013</a></li>
    </marquee>
    
    </div>
    <div class = "col-md-4">
        <div><strong>F.A.Q's </strong></div>
    <marquee direction="up" style = "text-align: center;height: 80px; color: blue" id = "placeRecord" onmouseover="this.stop();" onmouseout="this.start();"> 
        <li class= "pull-left"><a href = "#">Placement Questions</a></li>
        <li><a href = "#">Placement  Schedule</a></li>
        <li class = "pull-left"><a href = "#">Placement  Strategy</a></li>
        <li><a href = "#">Placement  Incharge</a></li>
    </marquee>
    
        
    </div>
    <div class = "col-md-4"><strong>Streamwise placement</strong>
    <marquee direction="up" style = "text-align: center; color: blue;height: 80px" id = "placeRecord" onmouseover="this.stop();" onmouseout="this.start();"> 
        <li class= "pull-left"><a href = "#">Computer Science</a></li>
        <li><a href = "#">Mechanical</a></li>
        <li class = "pull-left"><a href = "#">Information Technology</a></li>
        <li><a href = "#">Chemical technology</a></li>
        <li class = "pull-left"><a href = "#">Bio technology</a></li>
        <li><a href = "#">Tool engineering </a></li>
        
    </marquee>
    </div>
</div>

<div class = "well" style = "text-align: center;height: 600px ">
    <h1> Our training and placement officer</h1>
    <div class = "thumbnail" style = "float: left">
    <img style ="height: 200px" src = "123.png">
    </div>
</div>

<script>
    
</script>

<% include footer %>