<% include header %>

<div class = "container">
<h1> Login page ! </h1>
<div class = "well">
<form action = "/login" method = "post" class  = "form-group">
    <input class = "form-control" placeholder = "enter your username" type = "text" name = "username">
    <input class = "form-control" placeholder = "enter your password" type = "password" name = "password">
    <input type = "submit" class="waves-effect waves-light btn">

</form>
</div>
</div>
<% include footer %>