<% include header %>

<div class = "container" style = "margin-top: 100px">
<h3 style = "color : blue"> Sign up   </h3>
    <hr>
    <hr>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input name = "username" class="validate"  id="first_name" type="text" >  <label for="first_name" id = "first_name">username</label>
        </div>
        <div class="input-field col s6">
          <input name = "password" class= "register" id="first_name" type="password" class="validate">
          <label id = "first_name" class= for="last_name">password</label>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="input-field col s6">
          <input name = "enrollment"  class="validate"  id="first_name" type="text" >  
          <label for="first_name" id = "first_name">Enrollment_no</label>
        </div>
        <div class="input-field col s6">
          <input name = "year" class= "register" id="first_name" type="text" class="validate">
          <label id = "first_name" class= for="last_name">Year</label>
        </div>
      </div>
    
    </form>
      <button class="waves-effect waves-light btn" style = "width : 150px" > Submit </button>
  </div>
  </div>
  
  <script>
    
    
    
    
    
  </script>
  
<% include footer %>